@model IEnumerable<Instructor>;
<center><h1>Instructor List</h1></center>

<a href="@Url.Action("AddInstructor")" class="btn btn-primary mb-3">Add Instructor</a>

<table class="table table-hover">

    <tr>
        <thead colspan="7"></thead>
    </tr>

    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Tenured Status</td>
        <td>Hiring Date</td>
        <td>Rank</td>
        <td></td>
        <td></td>

    </tr>
    @foreach (var Instructor in Model)
    {
         <tr class="table-group-divider">
            <td>@Instructor.Id</td>
            <td>@Instructor.FirstName @Instructor.LastName</td>
            <td>@if(@Instructor.IsTenured == true)
                {
                    <p>Permanent</p>
                }
                else
                {
                    <p>Probationary</p>
                }
            </td>
            <td>@Instructor.HiringDate</td>
            <td>@Instructor.Rank</td>
            <td><a asp-action="ShowDetails" asp-route-id="@Instructor.Id" class="btn btn-outline-primary">Show Details</a></td>
            <td><a asp-action="Edit" asp-route-id="@Instructor.Id" class="btn btn-outline-success">Edit Details</a></td>
        </tr>
    }
</table>
